#contact_form{
    width: 460px;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
    animation-duration: 2s;
    animation-name: slidein;
}
/*Efecto desplazar de abajo-arriba*/
@keyframes slidein {
    from {
        margin-top: 30%;
    }
    to {
        margin-top: 0%;
    }
}
#formulario input{
    background-color: #fbfbfb;
    width: 408px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    padding-left: 10px;
    margin-bottom: 20px;
}

#formulario textarea{
    background-color: #fbfbfb;
    width: 405px;
    height: 100px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}

#formulario label{
    display: block;
    float: center;
}

#formulario button{
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
}
#formulario button:hover{
    background-color: #ce52af;
    border-color: #ce52af;
}
#formulario button p{
    color: #fff;
}
#formulario span{
    color: #ab4493;
}
.aviso{
    font-size: 13px;
    color: #0e0e0e;
    margin-top: -20px;
}
#aviso-categoria{
    margin-top: 0px;
}
#formulario h1{
    font-size: 39px;
    text-align: left;
    padding-bottom: 20px;
    color: #ab4493;
}
#formulario p{
    font-size: 14px;
    color: #0e0e0e;
}
/************ACERCA DE***********/
#container-acerca div {
    width: 50%;
    margin: 0 auto;
}
